:root {
    --primary-color: #EA1D5D;
    --hover-color: #D11753;
    --font-family: 'Nunito', sans-serif;
    --header-height: 500px;
    --main-background: #EDF7FA
}

body {
    font-family: var(--font-family);
   
}

header {
    background-image: url("../images/bg.png");
    height: var(--header-height);
    background-size: cover;
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
}


.custom-button {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.custom-button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.primary-link {
    color: white;
    text-decoration: none;
}


.main-heading {
    font-size: 44px;
    text-align: center;
    padding-top: 50px;
}


@media (max-width: 768px) {
    .main-heading {
        font-size: 28px;
             padding-top: 30px;
    }

    h2.home {
        font-size: 20px;
        
    }

     .home {
        padding: 10px;
        
    }

    .custom-button {
        font-size: 14px;
        
    }

    header {
        height: 150px;
              
    }


}