:root {
    --primary-color: #EA1D5D;
    --hover-color: #D11753;
    --font-family: 'Nunito', sans-serif;
    --header-height: 500px;
    --main-background: #f0f5f7;
}

body {
    font-family: var(--font-family);
    background-color: var(--main-background);
    color: #333;
    
}

.nav-image {
    max-height: 50px;
}

.nav-item{
    padding: 0 10px;
}

.hero, .aboutme, .work-title, .contact-title {
    background-image: url("../images/bg.png");
background-size: cover;
    background-position: center;
    
    height: auto;
    
    padding: 20px;
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
}


.custom-button {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.custom-button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.primary-link {
    color: white;
    text-decoration: none;
}


.main-heading {
    font-size: 44px;
    text-align: center;
    padding-top: 50px;
}

.aboutmep{
    font-size: 14px;
}

.projectview {
    padding: 100px
}

@media (max-width: 768px) {
    .main-heading {
        font-size: 28px;
    }

    h1,
    h2 {
        font-size: 22px;
        
    }

    .aboutmep {
        font-size: 16px;
        
    }

    
    img {
        width: 100%;
        height: auto;
    }

        .projectview {
            padding: 10px
        }

                 .contact-title {
                     font-size: 28px;}
}


.contact-title {
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
}

.contact-info {
    margin-top: 20px;
    font-size: 18px;
}

.contact-link {
    color: var(--primary-color);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #ddd;
    max-height: 100px;
}

.footerp {
    padding-top: 20px;
}

i {
    font-size: 30px;
    color: #333;
    padding: 0 20px;
    
}